body {
    font-family: 'Lobster', cursive;
    min-height: 100vh;
    justify-content: center;
    background-color: mediumblue;
    margin: 0;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

.mic-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic-ele {
    position: absolute;
}

.mic {
    color: #fff;
    filter: blur(0.5px);
    cursor: pointer;
    font-size: 4em;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: micBounce;
}

@keyframes micBounce {
    0% {
       transform: translate(0, -100vh);
    }
    25% {
        transform: translate(0, -70vh);
    }
    50% {
        transform: translate(0);
    }
    70% {
        transform: translate(0, -40.2vh);
    }   
    100% {
        transform: translate(0);
    }
}

.mic:hover {
    filter: drop-shadow(2px 4px 4px black);
    transition: 0.3s;
}

.listen {
    display: none;
    width: 10em;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: listening 1.2s steps(10, end) 0.4s infinite;
}

.note {
    font-size: 20px;
    color: #fff;
    animation: highlight 1s linear 0.5s infinite alternate-reverse;
}

@keyframes listening {
    0% {
        background-color: lightgray;
        transform: scale(1.5);
        filter: opacity(.1);
    }
}

@keyframes highlight {
    0% {
        transform: translateX(10%);
    }
}

.showColors {
    cursor: pointer;
    position: absolute;
    top: 10px;
    height: 20px;
    background: transparent;
    border: none;
    font-size: 2em;
    color: white;
    right: 10px;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: showColorsBounce;
}

@keyframes showColorsBounce {
    0% {
        transform: scale(0);
    } 
    85% {
       transform: scale(0);
    }
    90% {
        transform: scale(1.8);
    }
}

.colorsBox {
    background-color: red;
    text-align: center;
    position: absolute;
    top: 0px;
    padding: 19px 0px;
    width: 80vh;
    right: 0vh;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: colorsPalatte;
}

.colorsBox::-webkit-scrollbar{
    display: none;
}

@keyframes colorsPalatte {
    from {background-color: red;}
    to {background-color: blue;}
    /* 0% {
        background: none;
    }
    100% {
        background: #ffffff30;
    } */
}

.colorsBox.hide {
    transition: 2s;
    transform: scaleX(0) translateX(100%);
}

.d-none {
    display: none !important;
}

.color {
    cursor: pointer;
    margin: 3px;
    display: inline-flex;
    width: 8%;
    min-width: 150px;
    aspect-ratio: 2.2;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    filter: brightness(0.9) contrast(0.9);
    text-transform: capitalize;
}

.color:hover {
    transition: .4s;
    transform: translate(-2px, -3px);
    filter: drop-shadow(2px 4px 6px black);
}

.color:focus {
    transition: .4s;
    transform: translate(-2px, -3px);
    filter: drop-shadow(2px 4px 6px black);
}

.hideColors {
    border: solid 18.1px;
    color: white;
    padding: 8px;
    border-radius: 50%;
}